/* Alinhamento de elementos */
.a {text-align: center;}
.b {text-align: left;}
.c {text-align: right;}



/* Estrutura do BackGround do Site */
body {background-image: linear-gradient(to bottom,rgb(255, 247, 247),rgb(221,218,213)) !important;
/* Se quiser colocar uma imagem ativar código abaixo */
/* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Grosser_Panda.JPG/1200px-Grosser_Panda.JPG"); */
background-size: 100% 100%;
background-attachment: fixed;
height: 100vh;}

body,html {margin:0;padding:0;}


/* Estrutura da barra do cabeçalho no topo */
.cabecalho-topo{
    background-color: rgb(157, 2, 1);
    position: fixed-toppo;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid rgb(2, 2, 2);
    height: 50px;}


/* Frase de slogan que fica dentro do cabeçalho */
.slogan-cabecalho{
    height: 48px;
    line-height: 48px;
    position:fixed-toppo;
    bottom:0.1px;
    margin-left:10px;
    color: rgb(255, 255, 255);}


/* Estrutura dos botões do menu superior */
.botao-menu-superior{
    color: rgb(157, 2, 1) !important;
    /* text-transform:uppercase; */
    font-weight: 700;
    text-decoration: none;
}

/* Estrutura da barra com newsletter embaixo */
.barra-newsletter{
background-color: rgb(206, 188, 188);
bottom: 0;
right: 0;
width: 100%;}

.container {
    position: relative;
    text-align: center;
    color: white;}

.container-black {
        position: relative;
        text-align: center;
        color: black;}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      }

.button-classificar {
background-color:rgb(197, 192, 192);
position: relative;
border-radius: 2px;
border: none;
color: black;
width: 260px;
height: 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
padding-top: 10px;
}

.button-comprarpaypal {
background-color:rgb(243, 228, 13);
position: relative;
border-radius: 3px;
border: 1px solid black;
color: rgb(27, 58, 197);
width: 300px;
height: 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.button-adcarrinho {
    background-color:white;
    position: relative;
    border-radius: 3px;
    border: 1px solid black;
    color: black;
    width: 300px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top: 8px;
  }

  /* @media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    } */